@charset "UTF-8"; /* Especifica a codificação de caracteres utilizada na folha de estilo, logo utf8 é a codificação de caracteres maiscomum da World Wide Web */

* /* Seletor Universal para todas as configurações*/ {
    margin: 0px;
    padding: 0px; 
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh; /*Altura total do navegador*/
    width: 100vw; /*Largura total do navegador*/
    
   
}

body {
    width: 100vw;
    height: 100vh;
   background: url('../pacote-d013/imagens/fundo-madeira.jpg') no-repeat top center;
   background-size: cover; /*cobrir a tela inteira*/
   background-attachment: fixed; /* Isso faz com que a tela fique fixa e não tenha rolagem */
   background-size: cover;
 
}

main {
    height:100vh;
    position:relative;
    

}section#telefone {
    position: absolute; /* permite posicionar o elemento em qualquer posição da tela*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:blue;

    height: 627px;
    width: 311px;
    background: url('../pacote-d013/imagens/frame-iphone.png')
    
    
}

iframe#tela {
    position: relative;  
    top: 80px;
    left:22px;
    width: 265px;
    height: 471px;
}